body {
  font-family: "Roboto", sans-serif;
}

.homepage-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.homepage-button {
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 2px 5px;
  transition: 0.2s;
  text-decoration: underline;
  background: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#background-img {
  height: calc(100vh - 200px);
  width: 100%;
  margin: 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/andrew-neel-cckf4TsHAuw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.blen {
  font-family: "Space Mono", monospace;
  font-size: 26pt;
  color: #fa9500;
}

.container {
  margin-right: 9px;
}

.container2 {
  margin-left: 2px;
}

.tag-buttons {
  border: none;
  background: none;
  margin: 0 5px;
  transition: 0.2s;
  border-radius: 5px;
  font-size: 16px;
  color: #4a4a4a;
}

.tag-buttons:hover,
.user-details:hover {
  background-color: #dbdbdb;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;  
  color: orange;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 5px;
  margin: 0 auto 5px;
}

.user-details p {
  text-align: center;
  width: 100%;
}

.user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}



.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blogs-side {
  border: solid 2px #dbdbdb;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.blogs-feed {
  /* margin-left: 10%;
  margin-right: 10%; */
}





.article-post {
  
  border: solid 2px #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  border-radius: 5px;
  padding: 30px;
  /* width: 90vw; */
  word-break: break-all;
}

.post-settings {
  /* display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 15px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.tags {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

li {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .main-flex {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media only screen and (min-width: 992px) {
  .main-flex {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-flex {
    padding-left: 135px;
    padding-right: 135px;
  }
}