.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 350px;
  background-color: #faf9f9;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.profile-edit-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.profile {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.profile img {
  height: 50%;
  width: 50%;
}

.edit-input {
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 11pt;
  box-sizing: border-box;
}

.profile-edit-form input {
  margin: 3px 0 3px 0;
}
.bio {
  height: 70px;
  flex-direction: column;
}

.profile-picture {
  align-self: center;
  padding: 10px;
}

.form-submit {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 3px;
  background: none;
  outline: inherit;
  border: none;
  background-color: #fa9500;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 11pt;
}

.profile-edit-form label {
  font-size: 14pt;
}
