.user-blogs-list {
  margin-top: 50px;
}

.user-blogs-card {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
  padding: 10px;
}

.user-blogs-title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-blogs-intro {
  font-size: 18pt;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
}

.user-blogs-intro h3 {
  margin-left: 8px;
}

.user-blogs-title h3 {
  font-size: 15pt;
  font-weight: bold;
}

.user-blogs-description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.creation-date p {
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .user-blogs-list {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .user-blogs-list {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .user-blogs-list {
    margin-left: 105px;
    margin-right: 105px;
  }
}
