.user-blogs-card {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
  padding: 10px;
}

.user-blogs-title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-blogs-title h3 {
  font-size: 15pt;
  font-weight: bold;
}

.user-blogs-description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.creation-date p {
  margin-top: 5px;
}
