/* .detail-box {
    height: 100vh;
    margin: 0;
}

.message-body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
}

.comment-input {
    width: 100%;
}

.message-header {
    width: 100%;
}

.author-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
}

.message-header {
    display: flex;
    flex-direction: column;
}

.tags-container {
    height: 100%;
}

.tags-box {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-box {
    height: 40vh;
}

.author-box {
    height: 20vh;
}

.comment {
    padding: 1vh;
    border-radius: 1vh;
}

.delete-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: coral;
    font-size: 1.8vh;
}

.author-functions {
    display: flex;
    justify-content: space-around;
}

.add {
    width: 10%;
    font-size: 1.8vh;
    font-weight: bold;
}

.edit {
    font-size: 1.8vh;
    font-weight: bold;
}

.footnotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.text-area {
    height: 10px;
} */

.detail-section {
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: auto;
  max-height: 500px;
}

.detail-title {
  align-self: flex-start;
  padding-bottom: 20px;
}

.detail-title h2 {
  font-size: 30px;
}

.detail-title h3 {
  font-size: 16px;
  margin-top: 5px;
}

.blog-img-container {
  padding-bottom: 20px;
  padding-top: 20px;
}

.blog-author {
  margin-left: 5px;
}

.blog-content {
  padding-top: 20px;
  word-break: break-all;
}

.updated-date {
  padding-top: 10px;
}

.blog-tags-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-tag {
  padding: 5px;
  margin: 5px;
}

.blog-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (min-width: 768px) {
    .profile-page {
      margin-left: 65px;
      margin-right: 65px;
    }
  }

  @media only screen and (min-width: 992px) {
    .profile-page {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .profile-page {
      margin-left: 135px;
      margin-right: 135px;
    }
  }
}

.author-only {
  display: flex;
  padding: 20px 20px 50px 20px;
}

.author-only button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.edit-blog,
.delete-blog {
  margin: 10px;
  margin-bottom: 50px;
}

.edit-blog button {
  background-color: #fa9500;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
}

.delete-blog button {
  background-color: #bd2734;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
}

@media only screen and (min-width: 768px) {
  .detail-section {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media only screen and (min-width: 992px) {
  .detail-section {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .detail-section {
    margin-left: 135px;
    margin-right: 135px;
  }
}
