.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 50px;
  height: 100vh;
}

.form-box {
  height: 25%;
}

.form-horizontal {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
}

button p {
  text-decoration: none;
  font-weight: bold;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 5vw;
}