/* Logged in user */
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.navBar-logged-in {
  color: #bcbcbc;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.user-name {
  margin-right: 5px;
}

.navBar-logout {
  margin-right: 5px;
  margin-left: 5px;
}

.navBar a {
  text-decoration: none;
  text-transform: uppercase;
}

.navBar a:hover {
  cursor: pointer;
  padding-bottom: 5px;
}

.navBar h2,
.navBar-login,
.navBar-signup {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}

.blen {
  font-family: "Space Mono", monospace;
  font-size: 26pt;
  padding-right: 10px;
}

.navBar-left {
  display: flex;
}

.create-blog {
  margin-left: 5px;
  margin-right: 5px;
  color: #bcbcbc;
  font-weight: normal;
}

/* Logged out/non-user: */

.navBar-login {
  margin-right: 5px;

  font-size: 16pt;
}

.navBar-signup {
  margin-left: 5px;
  border: 1px solid #fa9500;
  border-radius: 3px;
  padding: 4px;
  font-size: 16pt;
}

.user-name,
.navBar-logout,
.navBar-login,
.navBar-signup,
.create-blog {
  font-size: 16pt;
  color: #bcbcbc;
  font-weight: normal;
}

.seperate {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .navBar {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media only screen and (min-width: 992px) {
  .navBar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .navBar {
    padding-left: 135px;
    padding-right: 135px;
  }
}
